.holder{
	display: flex;
		font-size:30px;
	justify-content:space-between;
	flex-wrap:wrap;
}
.item-3{
	height:100px;
	width:100px;
	background-color:green;
	color:black;
}
.item-4{
	height:100px;
	width:100px;
	background-color:green;
	color:black;
}
.item-5{
	height:100px;
	width:100px;
	background-color:green;
	color:black;
}
.item-6{
	height:100px;
	width:100px;
	background-color:green;
	color:black;
}
.item-7{
	height:100px;
	width:100px;
	background-color:green;
	color:black;
}
.item-1{
	height:100px;
	width:100px;
	background-color:red;
	color:black;
}
.item-2{
	height:100px;
	width:100px;
	background-color:blue;
	color:black;
}
/* Your CSS Code here. */